/*base*/
@import url("https://fonts.googleapis.com/css2?family=Cabin&display=swap");
/* line 1, sass/base/_resets.scss */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* ********************************** */
/*             UTILIDADES             */
/* ********************************** */
/* line 4, sass/base/_base.scss */
.container {
  max-width: 120rem;
  margin: 0 auto; }

/* line 9, sass/base/_base.scss */
.heading-1 {
  text-align: center;
  font-weight: 500;
  font-size: 3rem; }

/* ********************************** */
/*               HEADER               */
/* ********************************** */
/* line 18, sass/base/_base.scss */
.container-hero {
  background-color: #e2e2e2; }

/* line 22, sass/base/_base.scss */
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0; }

/* line 29, sass/base/_base.scss */
.customer-support {
  display: flex;
  align-items: center;
  gap: 2rem; }

/* line 35, sass/base/_base.scss */
.customer-support i {
  font-size: 3.3rem; }

/* line 39, sass/base/_base.scss */
.content-customer-support {
  display: flex;
  flex-direction: column; }

/* line 44, sass/base/_base.scss */
.container-logo {
  display: flex;
  align-items: center;
  gap: 0.5rem; }

/* line 50, sass/base/_base.scss */
.container-logo i {
  font-size: 3rem; }

/* line 54, sass/base/_base.scss */
.container-logo h1 a {
  text-decoration: none;
  color: #000;
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: -1px; }

/* line 62, sass/base/_base.scss */
.container-user {
  display: flex;
  gap: 1rem;
  cursor: pointer; }

/* line 68, sass/base/_base.scss */
.container-user .fa-user {
  font-size: 3rem;
  color: var(--primary-color);
  padding-right: 2.5rem;
  border-right: 1px solid #e2e2e2; }

/* line 75, sass/base/_base.scss */
.container-user .fa-basket-shopping {
  font-size: 3rem;
  color: #e2e2e2;
  padding-left: 1rem; }

/* line 81, sass/base/_base.scss */
.content-shopping-cart {
  display: flex;
  flex-direction: column; }

/* ************* NAVBAR ************* */
/* line 87, sass/base/_base.scss */
.container-navbar {
  background-color: #e2e2e2; }

/* line 91, sass/base/_base.scss */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0; }

/* line 98, sass/base/_base.scss */
.navbar .fa-bars {
  display: none; }

/* line 102, sass/base/_base.scss */
.menu {
  display: flex;
  gap: 2rem; }

/* line 107, sass/base/_base.scss */
.menu li {
  list-style: none; }

/* line 111, sass/base/_base.scss */
.menu a {
  text-decoration: none;
  font-size: 1.3rem;
  color: var(--dark-color);
  font-weight: 600;
  text-transform: uppercase;
  position: relative; }

/* line 120, sass/base/_base.scss */
.menu a::after {
  content: '';
  width: 1.5rem;
  height: 1px;
  background-color: #fff;
  position: absolute;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%, 50%);
  opacity: 0;
  transition: all 0.3s ease; }

/* line 133, sass/base/_base.scss */
.menu a:hover::after {
  opacity: 1; }

/* line 137, sass/base/_base.scss */
.menu a:hover {
  color: #fff; }

/* line 141, sass/base/_base.scss */
.search-form {
  position: relative;
  display: flex;
  align-items: center;
  border: 2px solid #fff;
  border-radius: 2rem;
  background-color: #fff;
  height: 4.4rem;
  overflow: hidden; }

/* line 152, sass/base/_base.scss */
.search-form input {
  outline: none;
  font-family: inherit;
  border: none;
  width: 25rem;
  font-size: 1.4rem;
  padding: 0 2rem;
  color: #777;
  cursor: pointer; }

/* line 163, sass/base/_base.scss */
.search-form input::-webkit-search-cancel-button {
  appearance: none; }

/* line 167, sass/base/_base.scss */
.search-form .btn-search {
  border: none;
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 1rem; }

/* line 177, sass/base/_base.scss */
.btn-search i {
  font-size: 2rem;
  color: #fff; }

/* ********************************** */
/*               BANNER               */
/* ********************************** */
/* line 185, sass/base/_base.scss */
.banner {
  background-image: linear-gradient(100deg, #000000, #00000020), url("../img/Captura1.JPG");
  height: 60rem;
  background-size: cover;
  background-position: center; }

/* ********************************** */
/*               BANNER NEW           */
/* ********************************** */
/* line 195, sass/base/_base.scss */
.banner-new {
  background-image: linear-gradient(100deg, #000000, #00000020), url("../img/manki.jpg");
  height: 60rem;
  background-size: cover;
  background-position: center; }

/* ********************************** */
/*               BANNER SHOP          */
/* ********************************** */
/* line 205, sass/base/_base.scss */
.banner-shop {
  background-image: linear-gradient(100deg, #000000, #00000020), url("../img/Captura2.JPG");
  height: 60rem;
  background-size: cover;
  background-position: center; }

/* ********************************** */
/*               BANNER STORE         */
/* ********************************** */
/* line 215, sass/base/_base.scss */
.banner-store {
  background-image: linear-gradient(100deg, #000000, #00000020), url("../img/Captura6.JPG");
  height: 60rem;
  background-size: cover;
  background-position: center; }

/* ********************************** */
/*               BANNER CONTACTO      */
/* ********************************** */
/* line 225, sass/base/_base.scss */
.banner-contacto {
  background-image: linear-gradient(100deg, #000000, #00000020), url("../img/contacto.JPG");
  height: 60rem;
  background-size: cover;
  background-position: center; }

/* line 233, sass/base/_base.scss */
.content-banner {
  max-width: 90rem;
  margin: 0 auto;
  padding: 25rem 0; }

/* line 239, sass/base/_base.scss */
.content-banner p {
  color: var(--primary-color);
  font-size: 1.2rem;
  margin-bottom: 1rem;
  font-weight: 500; }

/* line 246, sass/base/_base.scss */
.content-banner h2 {
  color: #fff;
  font-size: 3.5rem;
  font-weight: 500;
  line-height: 1.2; }

/* line 253, sass/base/_base.scss */
.content-banner a {
  margin-top: 2rem;
  text-decoration: none;
  color: #fff;
  background-color: var(--primary-color);
  display: inline-block;
  padding: 1rem 3rem;
  text-transform: uppercase;
  border-radius: 3rem; }

/* ********************************** */
/*            MAIN CONTENT            */
/* ********************************** */
/* line 267, sass/base/_base.scss */
.main-content {
  background-color: #e2e2e2; }

/* ********************************** */
/*              FEATURES              */
/* ********************************** */
/* line 274, sass/base/_base.scss */
.container-features {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem;
  padding: 3rem 0; }

/* line 281, sass/base/_base.scss */
.card-feature {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  background-color: #fff;
  border-radius: 1rem;
  padding: 1.5rem 0; }

/* line 292, sass/base/_base.scss */
.card-feature i {
  font-size: 2.7rem;
  color: var(--primary-color); }

/* line 297, sass/base/_base.scss */
.feature-content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem; }

/* line 303, sass/base/_base.scss */
.feature-content span {
  font-weight: 700;
  font-size: 1.2rem;
  color: var(--dark-color); }

/* line 309, sass/base/_base.scss */
.feature-content p {
  color: #777;
  font-weight: 500; }

/*abstracts*/
/*components*/
/* line 9, sass/components/_other.scss */
html {
  font-size: 62.5%;
  font-family: 'Poppins', sans-serif; }

/* ********************************** */
/*             CATEGORIES             */
/* ********************************** */
/* line 18, sass/components/_other.scss */
.top-categories {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 3rem; }

/* line 25, sass/components/_other.scss */
.container-categories {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem; }

/* line 31, sass/components/_other.scss */
.card-category {
  height: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 2rem;
  gap: 2rem; }

/* line 41, sass/components/_other.scss */
.category-campera {
  background-image: linear-gradient(#00000080, #00000080), url("../img/campera.jpg");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat; }

/* line 49, sass/components/_other.scss */
.category-remerones {
  background-image: linear-gradient(#00000080, #00000080), url("../img/remerones.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

/* line 57, sass/components/_other.scss */
.category-pantalones {
  background-image: linear-gradient(#00000080, #00000080), url("../img/pantalon.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

/* line 65, sass/components/_other.scss */
.card-category p {
  font-size: 2.5rem;
  color: #fff;
  text-transform: capitalize;
  position: relative; }

/* line 72, sass/components/_other.scss */
.card-category p::after {
  content: '';
  width: 2.5rem;
  height: 2px;
  background-color: #fff;
  position: absolute;
  bottom: -1rem;
  left: 50%;
  transform: translate(-50%, 50%); }

/* line 83, sass/components/_other.scss */
.card-category span {
  font-size: 1.6rem;
  color: #fff;
  cursor: pointer; }

/* line 89, sass/components/_other.scss */
.card-category span:hover {
  color: var(--primary-color); }

/* ********************************** */
/*            TOP PRODUCTS            */
/* ********************************** */
/* line 96, sass/components/_other.scss */
.top-products {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 3rem; }

/* line 103, sass/components/_other.scss */
.container-options {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 1rem; }

/* line 110, sass/components/_other.scss */
.container-options span {
  color: #777;
  background-color: #fff;
  padding: 0.7rem 3rem;
  font-size: 1.4rem;
  text-transform: capitalize;
  border-radius: 2rem;
  cursor: pointer; }

/* line 120, sass/components/_other.scss */
.container-options span:hover {
  background-color: var(--primary-color);
  color: #fff; }

/* line 125, sass/components/_other.scss */
.container-options span.active {
  background-color: var(--primary-color);
  color: #fff; }

/* Products */
/* line 131, sass/components/_other.scss */
.container-products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 3rem; }

/* line 137, sass/components/_other.scss */
.card-product {
  background-color: #fff;
  padding: 2rem 3rem;
  border-radius: 0.5rem;
  cursor: pointer;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.1); }

/* line 145, sass/components/_other.scss */
.container-img {
  position: relative; }

/* line 149, sass/components/_other.scss */
.container-img img {
  width: 100%; }

/* line 153, sass/components/_other.scss */
.container-img .discount {
  position: absolute;
  left: 0;
  background-color: var(--primary-color);
  color: #fff;
  padding: 2px 1.2rem;
  border-radius: 1rem;
  font-size: 1.2rem; }

/* line 163, sass/components/_other.scss */
.card-product:hover .discount {
  background-color: #000; }

/* line 167, sass/components/_other.scss */
.button-group {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: absolute;
  top: 0;
  right: -3rem;
  z-index: -1;
  transition: all 0.4s ease; }

/* line 178, sass/components/_other.scss */
.button-group span {
  border: 1px solid var(--primary-color);
  padding: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.4s ease; }

/* line 189, sass/components/_other.scss */
.button-group span:hover {
  background-color: var(--primary-color); }

/* line 193, sass/components/_other.scss */
.button-group span i {
  font-size: 1.5rem;
  color: var(--primary-color); }

/* line 198, sass/components/_other.scss */
.button-group span:hover i {
  color: #fff; }

/* line 202, sass/components/_other.scss */
.card-product:hover .button-group {
  z-index: 0;
  right: -1rem; }

/* line 207, sass/components/_other.scss */
.content-card-product {
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(4, min-content);
  row-gap: 1rem; }

/* line 215, sass/components/_other.scss */
.stars {
  grid-row: 1/2;
  grid-column: 1/-1; }

/* line 220, sass/components/_other.scss */
.stars i {
  font-size: 1.3rem;
  color: var(--primary-color); }

/* line 225, sass/components/_other.scss */
.content-card-product h3 {
  grid-row: 2/3;
  grid-column: 1/-1;
  font-weight: 400;
  font-size: 1.6rem;
  margin-bottom: 1rem;
  cursor: pointer; }

/* line 234, sass/components/_other.scss */
.content-card-product h3:hover {
  color: var(--primary-color); }

/* line 238, sass/components/_other.scss */
.add-cart {
  justify-self: start;
  border: 2px solid var(--primary-color);
  padding: 1rem;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.4s ease;
  display: flex;
  align-items: center;
  justify-content: center; }

/* line 250, sass/components/_other.scss */
.add-cart:hover {
  background-color: var(--primary-color); }

/* line 254, sass/components/_other.scss */
.add-cart i {
  font-size: 1.5rem;
  color: var(--primary-color); }

/* line 259, sass/components/_other.scss */
.add-cart:hover i {
  color: #fff; }

/* line 263, sass/components/_other.scss */
.content-card-product .price {
  justify-self: end;
  align-self: center;
  font-size: 1.7rem;
  font-weight: 600; }

/* line 270, sass/components/_other.scss */
.content-card-product .price span {
  font-size: 1.5rem;
  font-weight: 400;
  text-decoration: line-through;
  color: #777;
  margin-left: 0.5rem; }

/* ********************************** */
/*               GALLERY              */
/* ********************************** */
/* line 281, sass/components/_other.scss */
.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 30rem);
  gap: 1.5rem;
  margin-bottom: 3rem; }

/* line 289, sass/components/_other.scss */
.gallery img {
  width: 100%;
  height: 100%;
  object-fit: cover; }

/* line 295, sass/components/_other.scss */
.gallery-img-3 {
  grid-column: 2/4;
  grid-row: 1/3; }

/* ********************************** */
/*              SPECIALS              */
/* ********************************** */
/* line 303, sass/components/_other.scss */
.specials {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 3rem; }

/* ********************************** */
/*                BLOGS               */
/* ********************************** */
/* line 313, sass/components/_other.scss */
.blogs {
  display: flex;
  flex-direction: column;
  gap: 2rem; }

/* line 319, sass/components/_other.scss */
.container-blogs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem; }

/* line 325, sass/components/_other.scss */
.card-blog {
  display: flex;
  flex-direction: column;
  gap: 2rem; }

/* line 331, sass/components/_other.scss */
.card-blog .container-img {
  border-radius: 2rem;
  cursor: pointer;
  position: relative;
  overflow: hidden; }

/* line 338, sass/components/_other.scss */
.button-group-blog {
  position: absolute;
  bottom: 1.5rem;
  right: -2.5rem;
  display: flex;
  gap: 0.7rem;
  z-index: -1;
  transition: all 0.3s ease; }

/* line 348, sass/components/_other.scss */
.card-blog:hover .button-group-blog {
  z-index: 0;
  right: 1.5rem; }

/* line 353, sass/components/_other.scss */
.button-group-blog span {
  background-color: #fff;
  padding: 1rem;
  border-radius: 50%;
  transition: all 0.4s ease;
  display: flex;
  align-items: center;
  justify-content: center; }

/* line 363, sass/components/_other.scss */
.button-group-blog span i {
  font-size: 1.3rem; }

/* line 367, sass/components/_other.scss */
.button-group-blog span:hover {
  background-color: var(--primary-color); }

/* line 371, sass/components/_other.scss */
.button-group-blog span:hover i {
  color: #fff; }

/* line 375, sass/components/_other.scss */
.content-blog h3 {
  font-size: 1.8rem;
  margin-bottom: 1.7rem;
  color: var(--dark-color);
  font-weight: 500; }

/* line 382, sass/components/_other.scss */
.content-blog h3:hover {
  color: var(--primary-color);
  cursor: pointer; }

/* line 387, sass/components/_other.scss */
.content-blog p {
  margin-top: 1rem;
  font-size: 1.4rem;
  color: #777; }

/* line 393, sass/components/_other.scss */
.content-blog span {
  color: var(--primary-color);
  font-size: 1.3rem; }

/* line 398, sass/components/_other.scss */
.btn-read-more {
  padding: 1rem 3rem;
  background-color: var(--primary-color);
  color: #fff;
  text-transform: uppercase;
  font-size: 1.4rem;
  border-radius: 2rem;
  margin: 3rem 0 5rem;
  display: inline-block;
  cursor: pointer; }

/* line 410, sass/components/_other.scss */
.btn-read-more:hover {
  background-color: var(--dark-color); }

/* ********************************** */
/*               FOOTER               */
/* ********************************** */
/* line 418, sass/components/_other.scss */
.footer {
  background-color: var(--primary-color); }

/* line 422, sass/components/_other.scss */
.container-footer {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  padding: 3rem; }

/* line 429, sass/components/_other.scss */
.menu-footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr) 30rem;
  gap: 3rem;
  justify-items: center; }

/* line 436, sass/components/_other.scss */
.title-footer {
  font-weight: 600;
  font-size: 1.6rem;
  text-transform: uppercase; }

/* line 442, sass/components/_other.scss */
.contact-info,
.information,
.my-account,
.newsletter {
  display: flex;
  flex-direction: column;
  gap: 2rem; }

/* line 451, sass/components/_other.scss */
.contact-info ul,
.information ul,
.my-account ul {
  display: flex;
  flex-direction: column;
  gap: 1rem; }

/* line 459, sass/components/_other.scss */
.contact-info ul li,
.information ul li,
.my-account ul li {
  list-style: none;
  color: #000000;
  font-size: 1.4rem;
  font-weight: 300; }

/* line 468, sass/components/_other.scss */
.information ul li a,
.my-account ul li a {
  text-decoration: none;
  color: #000000;
  font-weight: 300; }

/* line 475, sass/components/_other.scss */
.information ul li a:hover,
.my-account ul li a:hover {
  color: var(--dark-color); }

/* line 480, sass/components/_other.scss */
.social-icons {
  display: flex;
  gap: 1.5rem; }

/* line 485, sass/components/_other.scss */
.social-icons span {
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center; }

/* line 494, sass/components/_other.scss */
.social-icons span i {
  color: #fff;
  font-size: 1.2rem; }

/* line 499, sass/components/_other.scss */
.facebook {
  background-color: #3b5998; }

/* line 503, sass/components/_other.scss */
.tiktok {
  background-color: #000000; }

/* line 507, sass/components/_other.scss */
.youtube {
  background-color: #c4302b; }

/* line 511, sass/components/_other.scss */
.pinterest {
  background-color: #c8232c; }

/* line 515, sass/components/_other.scss */
.instagram {
  background: linear-gradient(#405de6, #833ab4, #c13584, #e1306c, #fd1d1d, #f56040, #fcaf45); }

/* line 527, sass/components/_other.scss */
.content p {
  font-size: 1.4rem;
  color: #000000;
  font-weight: 300; }

/* line 533, sass/components/_other.scss */
.content input {
  outline: none;
  background: none;
  border: none;
  border-bottom: 2px solid #d2b495;
  cursor: pointer;
  padding: 0.5rem 0 1.2rem;
  color: var(--dark-color);
  display: block;
  margin-bottom: 3rem;
  margin-top: 2rem;
  width: 100%;
  font-family: inherit; }

/* line 548, sass/components/_other.scss */
.content input::-webkit-input-placeholder {
  color: #eee; }

/* line 552, sass/components/_other.scss */
.content button {
  border: none;
  background-color: #000;
  color: #fff;
  text-transform: uppercase;
  padding: 1rem 3rem;
  border-radius: 2rem;
  font-size: 1.4rem;
  font-family: inherit;
  cursor: pointer;
  font-weight: 600; }

/* line 565, sass/components/_other.scss */
.content button:hover {
  background-color: var(--background-color);
  color: var(--primary-color); }

/* line 570, sass/components/_other.scss */
.copyright {
  display: flex;
  justify-content: space-between;
  padding-top: 2rem;
  border-top: 1px solid #d2b495; }

/* line 577, sass/components/_other.scss */
.copyright p {
  font-weight: 400;
  font-size: 1.6rem; }

/* ********************************** */
/*       MEDIA QUERIES -- 768px       */
/* ********************************** */
@media (max-width: 768px) {
  /* line 586, sass/components/_other.scss */
  html {
    font-size: 55%; }
  /* line 590, sass/components/_other.scss */
  .hero {
    padding: 2rem; }
  /* line 594, sass/components/_other.scss */
  .customer-support {
    display: none; }
  /* line 598, sass/components/_other.scss */
  .content-shopping-cart {
    display: none; }
  /* line 602, sass/components/_other.scss */
  .navbar {
    padding: 1rem 2rem; }
  /* line 606, sass/components/_other.scss */
  .navbar .fa-bars {
    display: block;
    color: #000000;
    font-size: 3rem; }
  /* line 612, sass/components/_other.scss */
  .menu {
    display: none; }
  /* line 616, sass/components/_other.scss */
  .content-banner {
    max-width: 50rem;
    margin: 0 auto;
    padding: 25rem 0; }
  /* line 622, sass/components/_other.scss */
  .container-features {
    grid-template-columns: repeat(2, 1fr);
    padding: 3rem 2rem; }
  /* line 627, sass/components/_other.scss */
  .card-feature {
    padding: 2rem; }
  /* line 631, sass/components/_other.scss */
  .heading-1 {
    font-size: 2.4rem; }
  /* line 635, sass/components/_other.scss */
  .card-category {
    height: 12rem; }
  /* line 639, sass/components/_other.scss */
  .card-category p {
    font-size: 2rem;
    text-align: center;
    line-height: 1; }
  /* line 645, sass/components/_other.scss */
  .card-category span {
    font-size: 1.4rem; }
  /* line 649, sass/components/_other.scss */
  .container-options {
    align-items: center; }
  /* line 653, sass/components/_other.scss */
  .container-options span {
    text-align: center;
    padding: 1rem 2rem; }
  /* line 658, sass/components/_other.scss */
  .container-products {
    grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr)); }
  /* line 662, sass/components/_other.scss */
  .gallery {
    grid-template-rows: repeat(2, 15rem); }
  /* line 666, sass/components/_other.scss */
  .container-blogs {
    overflow: hidden;
    grid-template-columns: 1fr 1fr;
    height: 52rem; }
  /* line 672, sass/components/_other.scss */
  .menu-footer {
    grid-template-columns: repeat(2, 1fr); }
  /* line 676, sass/components/_other.scss */
  .copyright {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem; } }

/* line 684, sass/components/_other.scss */
.menu {
  display: none; }

/* line 688, sass/components/_other.scss */
.menu.active {
  display: block; }

/* ********************************** */
/*       MEDIA QUERIES -- 468px       */
/* ********************************** */
@media (max-width: 468px) {
  /* line 696, sass/components/_other.scss */
  html {
    font-size: 42.5%; }
  /* line 700, sass/components/_other.scss */
  .content-banner {
    max-width: 50rem;
    padding: 22rem 0; }
  /* line 705, sass/components/_other.scss */
  .heading-1 {
    font-size: 2.8rem; }
  /* line 709, sass/components/_other.scss */
  .card-feature {
    flex-direction: column;
    border-radius: 2rem; }
  /* line 714, sass/components/_other.scss */
  .feature-content {
    align-items: center; }
  /* line 718, sass/components/_other.scss */
  .feature-content p {
    font-size: 1.4rem;
    text-align: center; }
  /* line 723, sass/components/_other.scss */
  .feature-content span {
    font-size: 1.6rem;
    text-align: center; }
  /* line 728, sass/components/_other.scss */
  .container-options span {
    font-size: 1.8rem;
    padding: 1rem 1.5rem;
    font-weight: 500; }
  /* line 734, sass/components/_other.scss */
  .container-products {
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1rem; }
  /* line 739, sass/components/_other.scss */
  .container-img .discount {
    font-size: 2rem; }
  /* line 743, sass/components/_other.scss */
  .content-card-product h3 {
    font-size: 2.2rem; }
  /* line 747, sass/components/_other.scss */
  .gallery {
    grid-template-rows: repeat(2, 20rem); }
  /* line 751, sass/components/_other.scss */
  .blogs {
    padding: 2rem; }
  /* line 755, sass/components/_other.scss */
  .container-blogs {
    grid-template-columns: 1fr;
    height: 75rem; }
  /* line 760, sass/components/_other.scss */
  .content-blog h3 {
    font-size: 2.4rem; }
  /* line 764, sass/components/_other.scss */
  .content-blog span {
    font-size: 1.8rem; }
  /* line 768, sass/components/_other.scss */
  .content-blog p {
    font-size: 2.2rem; }
  /* line 772, sass/components/_other.scss */
  .btn-read-more {
    font-size: 1.8rem; }
  /* line 776, sass/components/_other.scss */
  .contact-info ul,
  .information ul,
  .my-account ul {
    display: none; }
  /* line 782, sass/components/_other.scss */
  .contact-info {
    align-items: center; }
  /* line 786, sass/components/_other.scss */
  .menu-footer {
    grid-template-columns: 1fr; }
  /* line 790, sass/components/_other.scss */
  .content p {
    font-size: 1.6rem; } }

@media (max-width: 768px) {
  /* line 796, sass/components/_other.scss */
  .menu {
    display: none; }
  /* line 799, sass/components/_other.scss */
  .menu.active {
    display: block; } }

@media (min-width: 769px) {
  /* line 805, sass/components/_other.scss */
  .menu {
    display: flex; }
  /* line 808, sass/components/_other.scss */
  .menu.active {
    display: flex; } }

/* line 813, sass/components/_other.scss */
a {
  text-decoration: none;
  /* Elimina el subrayado */ }
